@import url('https://fonts.googleapis.com/css?family=Space+Mono');


.skills{
    margin-top: 4em;
}

.title {
    font-weight: 600;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, auto);
    margin: 1em;
    justify-content: center;
}


@media only screen and (max-width: 800px) {
    .grid {
        grid-template-columns: repeat(3, auto);
    }

}

@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, auto);
    }

}

@media only screen and (max-width: 300px) {
    .grid {
        grid-template-columns: repeat(1, auto);
    }

}
